In [3]:
# Import Libraries and Dependencies
import pandas as pd
import os

### 1. Combine and Clean the Data
#### Import CSVs

In [4]:
# Read the CSV files into DataFrames.
directory = 'Resources/'

# List to hold all individual DataFrames
dataframes = []

# Loop through all the CSV files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath)
        dataframes.append(df)

# Concatenate all the dataframes into one
combined_df = pd.concat(dataframes, ignore_index=True)

# Display the combined DataFrame
print(combined_df)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [12]:
# Display the 2020 sales DataFrame
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])
combined_df['Year'] = combined_df['invoice_date'].dt.year
print(combined_df.loc[combined_df['Year'] == 2020])

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732   2020-01-01  Northeast      New York
1     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3     Foot Locker      1185732   2020-01-01  Northeast      New York
4     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299   2020-12-30       West    California
1293    West Gear      1128299   2020-12-30       West    California
1294       Kohl's      1189833   2020-12-30    Midwest     Minnesota
1295       Kohl's      1189833   2020-12-30    Midwest     Minnesota
1296    West Gear      1128299   2020-12-30       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method  Year
0          600000         300000.00     In-store  2020
1            5644           2426.92       Online  2020
2          206250          61875.00       Outlet  2020
3           13056           6789.12       Outlet  2020
4            4399           1407.68       Outlet  2020
...           ...               ...          ...   ...
1292        14616           3946.32       Online  2020
1293       560000          84000.00       Outlet  2020
1294         4879           2878.61       Online  2020
1295       213750          96187.50       Outlet  2020
1296        15190           2886.10       Outlet  2020

[1297 rows x 13 columns]

In [13]:
# Display the 2021 sales DataFrame
print(combined_df.loc[combined_df['Year'] == 2021])

         retailer  retailer_id invoice_date     region         state  \
1297    West Gear      1128299   2021-01-01       West    California
1298    West Gear      1128299   2021-01-01       West    California
1299       Kohl's      1189833   2021-01-01    Midwest       Montana
1300       Kohl's      1189833   2021-01-01    Midwest       Montana
1301    West Gear      1128299   2021-01-01       West    California
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9639  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9640       Amazon      1185732   2021-12-31  Northeast         Maine
9641       Amazon      1185732   2021-12-31  Northeast         Maine
9642  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
1297  San Francisco  Men's Athletic Footwear              65         750
1298  San Francisco  Men's Athletic Footwear              51         233
1299       Billings            Men's Apparel              50         275
1300       Billings            Men's Apparel              47          77
1301  San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
9638   Philadelphia            Men's Apparel              63          47
9639   Philadelphia            Men's Apparel              46          56
9640       Portland            Men's Apparel              52          36
9641       Portland            Men's Apparel              55         125
9642   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method  Year
1297       487500         121875.00       Outlet  2021
1298        11883           3208.41       Outlet  2021
1299       137500          82500.00       Outlet  2021
1300         3619           2714.25       Online  2021
1301        14400           5184.00       Online  2021
...           ...               ...          ...   ...
9638         2961           1362.06       Online  2021
9639         2576           1004.64       Outlet  2021
9640         1872            692.64       Online  2021
9641        68750          17187.50       Outlet  2021
9642       122500          42875.00       Outlet  2021

[8346 rows x 13 columns]

#### Check the data types of each DataFrame

In [14]:
# Check the 2020 sales data types.
print(combined_df.loc[combined_df['Year'] == 2020].dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
Year                         int32
dtype: object

In [15]:
# Check the 2021 sales data types.
print(combined_df.loc[combined_df['Year'] == 2021].dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
Year                         int32
dtype: object

#### Combine the sales data by rows.

In [16]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales = pd.concat([combined_df.loc[combined_df['Year'] == 2020], combined_df.loc[combined_df['Year'] == 2021]], ignore_index=True)

In [17]:
# Check if any values are null.
print(combined_sales.isnull().sum())

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
Year                0
dtype: int64

In [18]:
# Check the data type of each column
print(combined_sales.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
Year                         int32
dtype: object

In [19]:
# Convert the "invoice_date" to a datetime datatype
combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'])

In [20]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_sales.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
Year                         int32
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [21]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
products_sold = combined_sales.groupby(['region', 'state', 'city']).size().reset_index(name='Total_Products_Sold')


# Show the top 5 results.
print(products_sold.head())

    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                  144
1  Midwest   Indiana  Indianapolis                  144
2  Midwest      Iowa    Des Moines                  144
3  Midwest    Kansas       Wichita                  144
4  Midwest  Michigan       Detroit                  144

#### Using `pivot_table`

In [23]:
# Show the number products sold for region, state, and city
# Rename the "units_sold" column to "Total_Products_Sold"
# Show the top 5 results.
products_sold = combined_sales.groupby(['region', 'state', 'city']).size().reset_index(name='Total_Products_Sold')
print(products_sold.head())

    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                  144
1  Midwest   Indiana  Indianapolis                  144
2  Midwest      Iowa    Des Moines                  144
3  Midwest    Kansas       Wichita                  144
4  Midwest  Michigan       Detroit                  144

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [27]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.
total_sales = combined_sales.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales')
print(total_sales.head())

    region     state          city  Total Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.
total_sales = combined_sales.pivot_table(index=['region', 'state', 'city'], values='total_sales', aggfunc='sum').reset_index()
total_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
print(total_sales.head())

    region     state          city  Total Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.
total_sales = combined_sales.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales')
print(total_sales.sort_values('Total Sales', ascending=False).head())

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [37]:
# Show the total sales for the products sold for each retailer, region, state, and city using pivot_table.
# Optional: Rename the "total_sales" column to "Total Sales"
# Show the top 5 results sorted by "Total Sales".
total_sales = combined_sales.pivot_table(index=['retailer', 'region', 'state', 'city'], values='total_sales', aggfunc='sum').reset_index()
total_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
print(total_sales.sort_values('Total Sales', ascending=False).head())

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [39]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_footwear = combined_sales.loc[combined_sales['product'] == "Women's Athletic Footwear"]

#### Using `groupby`

In [40]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
# Show the top 5 results sorted decending.
womens_footwear_sales = womens_footwear.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index(name='Womens_Footwear_Units_Sold')
print(womens_footwear_sales.sort_values('Womens_Footwear_Units_Sold', ascending=False).head())

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [42]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city using pivot_table.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
# Show the top 5 results sort decending.
womens_footwear_sales = womens_footwear.pivot_table(index=['retailer', 'region', 'state', 'city'], values='units_sold', aggfunc='sum').reset_index()
womens_footwear_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)
print(womens_footwear_sales.sort_values('Womens_Footwear_Units_Sold', ascending=False).head())

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [43]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
# Optional: Rename the "total_sales" column to "Total Sales"
# Show the tablen sorting "Total Sales" decending.
sales_by_date = combined_sales.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum').reset_index()
sales_by_date.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
print(sales_by_date.sort_values('Total Sales', ascending=False))

    invoice_date  Total Sales
554   2021-07-16     12261098
707   2021-12-16     10871121
525   2021-06-17     10239903
586   2021-08-17      9517031
561   2021-07-23      7689134
..           ...          ...
333   2020-12-06        38484
339   2020-12-12        35800
341   2020-12-14        34529
334   2020-12-07        31994
340   2020-12-13        26922

[723 rows x 2 columns]

In [44]:
# Resample the pivot table into daily bins, and get the total sales for each day.
# Sort the resampled pivot table in descending order on "Total Sales".
daily_sales = sales_by_date.resample('D', on='invoice_date').sum().reset_index()
print(daily_sales.sort_values('Total Sales', ascending=False))

    invoice_date  Total Sales
562   2021-07-16     12261098
715   2021-12-16     10871121
533   2021-06-17     10239903
594   2021-08-17      9517031
569   2021-07-23      7689134
..           ...          ...
289   2020-10-16            0
288   2020-10-15            0
287   2020-10-14            0
286   2020-10-13            0
365   2020-12-31            0

[731 rows x 2 columns]

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [45]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
# Sort the resampled pivot table in descending order on "Total Sales".
weekly_sales = sales_by_date.resample('W', on='invoice_date').sum().reset_index()
print(weekly_sales.sort_values('Total Sales', ascending=False))

    invoice_date  Total Sales
79    2021-07-11     26271380
80    2021-07-18     24731702
102   2021-12-19     24698535
101   2021-12-12     23250286
85    2021-08-22     22225401
..           ...          ...
46    2020-11-22       927605
48    2020-12-06       739673
50    2020-12-20       590227
49    2020-12-13       466322
41    2020-10-18       251468

[105 rows x 2 columns]